@import "./variables.scss";
@import "./mixins.scss";


html {
    height: 100%;
    font-size: 16px;
    --container_width: 100%;

    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 17px;
        --container_width: 750px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        font-size: 18px;
        --container_width: 970px;
    }

    @media (min-width: 1200px) and (max-width: 1365px) {
        font-size: 19px;
        --container_width: 1170px;
    }

    @media (min-width: 1366px) {
        font-size: 20px;
        --container_width: 1300px;
    }

    body {
        //        height: 100%;
        font-family: $font_text;
        line-height: 1.5;
        color: $color_black;
        background-color: $color_white;

        @include sm-down {
            font-size: 14px;
        }
    }
}

textarea {
    box-sizing: border-box;
}

select {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background: #333;
}

/* Track */
::-webkit-scrollbar-track {
    //    box-shadow: inset 0 0 5px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color_primary;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color_primary, 5%);
}

//placeholder color
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000 !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //    font-family: $font_heading;
    letter-spacing: 0;
    margin: 0;
}

h2 {
    // font-size: 90px;
    font-size: 4.5rem;
    line-height: 1.1;

    @media (max-width: 767px) {
        font-size: 2.8rem;
    }
}

h3 {
    // font-size: 70px;
    font-size: 3.5rem;

    @media (max-width: 767px) {
        font-size: 2.2rem;
    }
}

h4 {
    // font-size: 50px;
    font-size: 2.5rem;

    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

h5 {
    // font-size: 30px;
    font-size: 1.5rem;
}

h6 {
    // font-size: 25px;
    font-size: 1.25rem;
}

%text_b {
    font-weight: 700;
}

%text_m {
    font-weight: 500;
}

%text_rg {
    font-weight: 400;
}

%text_uc {
    text-transform: uppercase;
}

.small_title {
    font-size: 14px;
    font-family: $font_medium;
}

.mainbig_title {
    font-family: $font_heading;
    line-height: 1.3;

    @media (max-width: 767px) {
        line-height: 1.1;
    }
}

.section_subtitle {
    font-family: $font_medium;
}

.section_subheading {
    font-family: AT-Regular;
    line-height: 1.1;
    margin: 0;
}

.rem_link_style {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}

.relative_box {
    position: relative;
    min-height: 1px;
}

.full_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn_project_default {
    font-size: 12px;
    background-image: none;
    border-radius: 0;
    border: 0;
    letter-spacing: 2px;
    padding: 10px 35px;
    margin: 20px;
    box-shadow: none;
    text-shadow: none;
    background-color: $color_primary;
    color: white;
    outline: none !important;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
        padding: 8px 18px;
    }

    &:hover {
        background-color: $color_primary;
        color: white;
    }

    &:active {
        background-color: $color_primary;
        color: white;
    }

    &:focus {
        background-color: $color_primary;
        color: white;
    }
}

.loader_overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 1000;

    .loader_spinner {
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 60px);
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 5px solid black;
        border-left: 5px solid gray;
        border-bottom: 5px solid gray;
        border-right: 5px solid gray;
        width: 120px;
        height: 120px;
        animation: spin_360 2s linear infinite;
    }
}

.no_pad {
    padding: 0 !important;
}

.no_marg {
    margin: 0 !important;
}

.rel_y_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rel_x_center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rel_xy_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mobile_navbar {
    display: none;
    position: fixed;
    padding: 15px;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    box-shadow: 0px 0px 14px -10px #333;
    height: 60px;

    @media (max-width: 1200px) {
        display: block;
    }

    .navbar_logo {
        @extend .rel_y_center;
        max-height: 50px;

        @media (max-width: 1200px) {
            filter: invert(1);
        }
    }
}

#nav-icon3 {
    width: 24px;
    height: 18px;
    left: 5%;
    margin-left: 10px;
    @extend .rel_y_center;
    transition: all 0.5s ease-out;
    cursor: pointer;
    z-index: 100;

    @media (min-width: 1201px) {
        display: none;
    }

    @media (max-width: 1200px) {
        left: 0;
        margin-left: auto;
        margin-top: 5px;
        top: 0px;
        transform: none;
        position: relative;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 7px;
        }

        &:nth-child(3) {
            top: 7px;
        }

        &:nth-child(4) {
            top: 14px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 7px;
                width: 0%;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 7px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.sidebar_wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 50px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease-out;

    @media (min-width: 1201px) {
        display: none;
    }

    &.open {
        transform: translateX(0%);
    }

    .links {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        a {
            @extend .rem_link_style;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 0px;
        }
    }
}

#thank-you-msg {
    display: none;
    font-size: 20px;
    color: green;
    font-style: italic;
    font-weight: bold;
}

.input-field label.error {
    top: calc(100% - 30px) !important;
    font-size: 12px;
    color: red;
    //   width: auto!important;
    //    left: unset!important;
    //    right: 15px;
}

.input-field label.error.active {
    top: 40px !important;
    transform: translateY(10px) scale(1) !important;
    transform-origin: 0 0 !important;
}

.f_r_aj_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_r_a_center {
    display: flex;
    align-items: center;
}

.f_r_j_center {
    display: flex;
    justify-content: center;
}

.f_c_aj_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f_c_a_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_c_j_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_responsive {
    display: block;
    max-width: 100%;
}

.paper_effect {
    padding: 8px 0;
    background-color: #fff;
    margin-bottom: 2px;
}

.pd_left {
    padding-left: 40px;

    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pt_40 {
    padding-top: 40px;
}

.main_title {
    font-family: AT-Regular;
    @extend %text_rg;
    font-size: 94px;
    line-height: 1.1;

    @media (max-width: 767px) {
        font-size: 50px;
    }
}

.sect_ptb {
    padding-top: 80px !important;
    padding-bottom: 80px !important;

    @media (max-width: 767px) {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

.bg_white {
    background-color: #fff;
}

.border_light {
    border: 1px solid #d5d5d5;
}

.border_dark {
    border: 3px solid #d5d5d5;
}

.pb_15 {
    padding-bottom: 15px;
}

.pb_20 {
    padding-bottom: 20px;
}

.mt_60 {
    margin-top: 0;

    @media (max-width: 767px) {
        margin-top: 60px;
    }
}

.cmn_btn {
    @extend .f_r_a_center;
    text-decoration: none;
    color: $heading_color;

    .yellow_arrow {
        transition: 0.5s all ease-out;
    }

    .text_18 {
        padding-left: 8px;
    }

    &:hover {
        .yellow_arrow {
            transform: translateX(3px);
        }
    }
}

.section_small_title {
    @extend .f_r_a_center;

    &:before {
        content: "";
        height: 2px;
        width: 40px;
        background-color: $color_primary;
        margin-right: 10px;
    }

    .small_title {
        text-transform: uppercase;
    }
}

.link_btn {
    @extend .f_c_a_center;
    margin: 30px 0;

    .cc_btn {
        font-family: $font_heading;
        font-size: 15px;
        @extend .f_r_a_center;
        background-color: #fff;
        border: 1px solid $color_primary;
        padding: 7px 25px;
        border-radius: 50px;
        transition: 0.3s all ease-out;

        @media (max-width: 767px) {
            font-size: 15px;
            padding: 10px 25px;
        }

        .cmnYarrow {
            padding-left: 15px;
            width: 33px;
            transition: 0.3s all ease-out;
            //            filter: grayscale(100%) invert(1);
        }
    }

    &.light_btn {
        .cmnYarrow {
            filter: grayscale(100%) invert(1);
        }
    }

    &:hover {
        .cc_btn {
            background: $color_primary;

            .cmnYarrow {
                transform: translateX(3px);
            }
        }
    }
}

.black_bg {
    background-color: $color_black;
    color: white;

    .section_small_title {
        .small_title {
            color: white;
        }
    }
}

.yellow_bg {
    background-color: $color_primary;

    .section_small_title {
        &:before {
            background-color: $color_black;
        }
    }
}

[data-scroll] {
    transition: all 0.5s linear;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateY(100px);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee_wrap_main {
    .marquee_wrap {
        overflow: hidden;

        .marquee_item {
            @extend .relative_box;
            width: max-content;
            animation: marquee 30s linear infinite;
            will-change: transform;

            .marquee_item_inner {
                @extend .f_r_a_center;
                justify-content: space-around;
                min-width: 100vw;

                .mii_item {
                    padding: 10px 100px;
                    white-space: nowrap;
                    @extend .relative_box;

                    &:after {
                        content: "";
                        height: 10px;
                        width: 60px;
                        background-color: #ffeb60;
                        @extend .rel_y_center;
                        right: 0;
                        transform: translate(50%, -50%);
                    }
                }

                &:nth-child(2) {
                    @extend .full_overlay;
                    left: 100%;
                }
            }
        }

        &:nth-child(2) {
            .marquee_item {
                animation-direction: reverse;
            }
        }
    }
}

.cmn_heads {
    .bg_white {
        .main_title {
            padding: 15px 0;
            text-align: center;
        }

        .section_small_title {
            padding: 8px 0;
        }
    }
}

.below_branch {
    @extend .f_r_a_center;
    flex-wrap: wrap;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .bb_content {
        font-family: $font_text;
        @extend %text_rg;
        flex: 1;
        padding-right: 20px;
    }

    .cmnYarrow {
        filter: grayscale(100%) invert(1);
    }
}

.road_above_footer {
    overflow: hidden;

    .raf_road {
        background-color: $color_black;

        .raf_paths {
            padding: 20px 0;
            height: 100px;
            @extend .relative_box;
            @extend .f_r_a_center;

            &:nth-child(1) {
                animation: raf_taxi 10s infinite linear;
            }

            &:nth-last-child(1) {
                left: 50%;
                animation: raf_taxi 10s infinite linear;

                img {
                    // transform: rotate(180deg);
                }
            }
        }

        .raf_divider {
            height: 10px;
            width: 100%;
            background-image: linear-gradient(to right, #333 25px, transparent 0px),
                linear-gradient(transparentize(white, 0.8) 5px, transparent 0px);
            background-size: 70px 20px;
        }
    }
}

/*Road Section starts*/
.roadCntr {
    background-image: url(../../public/img/home/bodybg.jpg);
    width: 100%;
    overflow: hidden;

    .roadwraper {
        @extend .relative_box;
        height: 354px;
        background: url(../../public/img/home/road/roadpattern.png) 100px 12px no-repeat;
        max-width: 1200px;
        margin: 0 auto;

        @include mv-media(768px, 993px) {
            background: url(../../public/img/home/road/roadpattern.png) 50px 12px no-repeat;
        }

        @include mv-media(max, 767px) {
            background: url(../../public/img/home/road/roadpattern.png) 0px 12px no-repeat;
        }

        .pathole {
            @extend .relative_box;
            z-index: 1;
            max-width: 990px;
            margin: 0 auto;
            text-align: right;

            img {
                margin-right: 70px;

                @include mv-media(max, 767px) {
                    margin-right: 0;
                }
            }

            p {
                width: 550px;
                @extend h5;
                font-family: AT-Regular;
                color: #fff;
                line-height: 31px;
                margin-top: 55px;

                @include mv-media(768px, 1200px) {
                    width: 100%;
                    text-align: center;
                    line-height: 1.4;
                }

                @include mv-media(max, 767px) {
                    width: 125%;
                    text-align: center;
                    font-size: 20px;
                }
            }
        }

        #plane1 {
            position: absolute;
            width: 454px;
            height: 395px;
            background: transparent url(../../public/img/home/road/batman.png) 0 0px no-repeat;
            top: 0px;
            z-index: 2;
            left: 0px;
            animation: main_batman 30s infinite ease-in-out;

            @media (max-width: 767px) {
                background-position: center;
                background-size: cover;
                width: 250px;
                height: 200px;
            }
        }

        #road1 {
            position: absolute;
            width: 100vw;
            height: 172.5px;
            background: transparent url(../../public/img/home/road/right-taxi.png) 0 0px repeat-x;
            top: 180px;
            z-index: 2;
            animation: road-1 20s infinite linear;
            animation-direction: reverse;
        }

        #road2 {
            position: absolute;
            width: 110vw;
            height: 172.5px;
            background: transparent url(../../public/img/home/road/left-taxi.png) 0 0px repeat-x;
            // top: 0px;
            top: -30px;
            z-index: 2;
            animation: road-2 20s infinite linear;
            animation-direction: reverse;
        }

        @keyframes main_batman {
            0% {
                transform: translate(-20%, 0);
            }

            25% {
                transform: translate(0%, -20%);
            }

            50% {
                transform: translate(20%, 0);
            }

            75% {
                transform: translate(0, 20%);
            }

            100% {
                transform: translate(-20%, 0);
            }
        }
    }

    @keyframes road-2 {
        0% {
            transform: translateX(100%);
        }

        25% {
            transform: translateX(50%);
        }

        50% {
            transform: translateX(0%);
        }

        75% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes road-1 {
        0% {
            transform: translateX(-100%);
        }

        25% {
            transform: translateX(-50%);
        }

        50% {
            transform: translateX(0%);
        }

        75% {
            transform: translateX(50%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}

/*Road Section ends*/

//Team section

#team_area {
    .team_area_inner {
        background-color: white;
        padding: 0 40px;

        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        @extend .relative_box;

        .team_member {
            width: 6.25%;
            padding: 8px;

            @media (max-width: 767px) {
                width: 10%;
                padding: 0;
            }
        }

        .meet_the_team {
            @extend .rel_xy_center;
            background-color: #fff;
            width: 75%;
            padding: 20px 30px;

            @media (max-width: 767px) {
                width: 100%;
                padding: 20px 0;
            }

            .meet_inner {
                @extend .f_r_a_center;
                flex-wrap: wrap;

                .team_main {
                    width: 35%;
                    font-family: $font_heading;
                    @extend %text_b;

                    @media (max-width: 767px) {
                        width: 100%;
                    }

                    .team_subhead {
                        font-family: AT-Regular;
                        @extend %text_rg;
                    }
                }

                .team_caption {
                    font-size: 22px;
                    width: 65%;

                    @media (max-width: 767px) {
                        width: 100%;
                        font-size: 16px;
                    }

                    .one_ting {
                        @extend %text_b;
                    }
                }
            }

            .link_btn {
                margin: 0;
                margin-top: 15px;
                margin-bottom: 8px;
                align-items: self-start;

                .cc_btn {
                    background-color: $color_black;
                    color: #fff;

                    .black_arrow {
                        color: $color_primary;
                    }
                }
            }
        }
    }
}

//Team section End

.case_study {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;

    .each_case_study {
        width: 33.33%;

        @media (max-width: 767px) {
            width: 100%;
        }

        .each_case_study_inner {
            padding: 15px;
            display: flex;
            flex-direction: column;

            @media (max-width: 767px) {
                padding: 0;
            }

            .ecsi_content {
                @media (max-width: 767px) {
                    padding: 5px 0px 15px;
                }

                .case_study_heading {
                    font-family: $font_heading;
                    @extend %text_b;
                    line-height: 1.2;
                    padding: 12px 0;
                }

                .cmn_btn {
                    margin-bottom: 20px;

                    .text_18 {
                        font-size: 18px;
                        @extend %text_m;
                        font-family: $font_medium;
                    }
                }
            }
        }

        //for children 1, 8, 15....
        &:nth-child(7n-6) {
            width: 100%;
            padding-bottom: 50px;

            @media (max-width: 767px) {
                padding-bottom: 0;
            }

            .each_case_study_inner {
                flex-direction: row;
                align-items: center;

                @media (max-width: 767px) {
                    flex-direction: column;
                }

                .ecsi_content {
                    width: 45%;
                    padding: 40px;

                    @media (max-width: 767px) {
                        width: 100%;
                        padding: 5px 15px 15px;
                    }
                }
            }
        }

        //for children 8, 22....
        &:nth-child(14n-6) {
            .each_case_study_inner {
                flex-direction: row-reverse;
            }
        }

        //for children 6, 13, 20....
        &:nth-child(7n-1) {
            .each_case_study_inner {
                flex-direction: column-reverse;
                margin-top: 30px;

                @media (max-width: 767px) {
                    flex-direction: column;
                    margin-top: 0;
                }
            }
        }

        //for children 3, 10, 17....
        &:nth-child(7n-4) {
            .each_case_study_inner {
                flex-direction: column-reverse;
                margin-top: 30px;

                @media (max-width: 767px) {
                    flex-direction: column;
                    margin-top: 0;
                }
            }
        }
    }
}

.verticals {
    .vertical_inner {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 767px) {
            flex-direction: column-reverse;
        }

        .vertical_inner_left {
            width: 50%;
            padding-right: 45px;

            @media (max-width: 767px) {
                width: 100%;
                padding-right: 0px;
                padding-top: 15px;
            }

            .vertical_heading {
                font-family: AT-Regular;
                @extend %text_rg;
            }

            .vertical_subheading {
                @extend .vertical_heading;
            }
        }

        .vertical_inner_right {
            width: 50%;
            position: relative;
            overflow: hidden;
            background-color: $color_primary;

            .cmn_clr {
                background-color: #000;
                color: #ffeb60;
                font-size: 12px;
                letter-spacing: 3px;
                padding: 5px 0;
                text-transform: uppercase;
                z-index: 4;
                white-space: nowrap;
                width: 100%;
                overflow-x: hidden;
                height: 25px;
                line-height: 24px;

                .track {
                    position: absolute;
                    white-space: nowrap;
                    will-change: transform;
                    animation: marquee 20s linear infinite;
                }
            }

            .top_left {
                position: absolute;
                top: 0;
                left: 0;

                .track {
                    top: 0;
                }
            }

            .top_right {
                position: absolute;
                top: 50%;
                right: 49%;
                transform: rotate(-90deg);

                .track {
                    top: 2px;
                }

                @include sm-down {
                    top: 46%;
                    right: -21%;
                    width: 235%;
                }
            }

            .bottom_left {
                position: absolute;
                bottom: 0;
                left: 0;

                .track {
                    bottom: 0;
                    animation-direction: reverse;
                }
            }

            .bottom_right {
                position: absolute;
                top: 50%;
                left: 49%;
                transform: rotate(90deg);

                .track {
                    bottom: -3px;
                }

                @include sm-down {
                    top: 46%;
                    left: -21%;
                    width: 235%;
                }
            }

            @media (max-width: 767px) {
                width: 100%;
                padding: 50%;
            }
        }
    }

    .verticals_part {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;

        .vert_inner {
            width: 33.33%;
            padding: 0 15px;
            margin-bottom: 30px;
            text-decoration: none;
            position: relative;

            @media (max-width: 767px) {
                width: 100%;
                padding: 0;
            }

            .cmnYarrow {
                color: $color_primary;
                position: absolute;
                bottom: 25px;
                right: 40px;
                transition: 0.3s all ease-out;
            }

            .vert_inside {
                height: 100%;
                padding: 40px;
                border: 1px solid transparentize(white, 0.8);
                cursor: pointer;

                @media (max-width: 767px) {
                    padding: 25px;
                }

                img {
                    height: 40px;
                }

                .list_verticals {
                    padding-left: 18px;
                    padding-top: 25px;

                    li {
                        list-style: disc;
                        padding-bottom: 10px;
                        color: #f1efef;
                        letter-spacing: 2px;
                    }
                }

                &:hover {
                    border: 1px solid transparentize($color_primary, 0.5);
                }

                &.yellow_bg {
                    color: $heading_color;
                }
            }

            &:hover {
                .cmnYarrow {
                    transform: translateX(3px);
                }
            }
        }
    }
}

.grey_line {
    border: 1px solid rgba(46, 46, 46, 0.2);
    margin: 30px 0;
}

.play_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $heading_color;

    .plybtn {
        width: 12%;
        padding-right: 7px;
    }

    .play {
        font-size: 15px;
        @extend %text_uc;
    }
}

.tab_wrap {
    .tab_buttons {
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            overflow: scroll;
            white-space: nowrap;
        }

        .tab_button_item {
            text-align: center;
            padding-top: 10px;
            border-top: 2px solid rgba(0, 0, 0, 0.1);

            @media (max-width: 767px) {
                padding: 10px 15px;
            }

            .inner_cont {
                white-space: nowrap;

                img {
                    width: 60%;

                    @media (max-width: 767px) {
                        width: auto;
                        max-height: 35px;
                    }
                }
            }

            &.active {
                border-top: 2px solid rgba(0, 0, 0, 1);
            }
        }
    }

    .tab_content {
        .tab_content_item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.branch_inner {
    border: 1px solid $heading_color;
    display: flex;
    flex-direction: column;
    height: 100%;

    .branch_name {
        padding: 15px 20px 0;
        font-size: 30px;
        font-family: Satoshi-Bold;
        background-color: $color_primary;
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid $heading_color;

        @media (max-width: 767px) {
            font-size: 22px;
        }

        .city_image {
            img {}
        }
    }

    .cb_inner {
        padding: 20px;
        display: flex;
        flex-direction: column;

        .branch_add {
            @media (max-width: 767px) {
                height: auto;
            }
        }

        .small_title {
            color: rgba(51, 51, 51, 0.5);
            text-transform: uppercase;
        }

        .phones {
            padding-top: 15px;

            a {
                display: block;
                text-decoration: none;
                color: $heading_color;
            }
        }
    }
}