/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

/*	==========================================================================
	Table of Contents For Functions:
		#mv-random-color
	========================================================================== */

@function mv-random-color($min: 0, $max: 255, $alpha: 1) {
	@if $min < 0 {
		$min: -1;
	}

	@else {
		$min: $min - 1;
	}

	@if $max>255 {
		$max: 256;
	}

	@else {
		$max: $max + 1;
	}

	$red: random($max)+$min;
	$green: random($max)+$min;
	$blue: random($max)+$min;
	@return rgba($red, $green, $blue, $alpha);
}