@import "./variables.scss";
@import "./mixins.scss";


.f_r_aj_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small_title {
    font-size: 14px;
    font-family: $font_medium;
}

%text_b {
    font-weight: 700;
}

%text_m {
    font-weight: 500;
}

%text_rg {
    font-weight: 400;
}

%text_uc {
    text-transform: uppercase;
}

// contact page
.mt_60 {
    margin-top: 0;

    @media (max-width: 767px) {
        margin-top: 60px;
    }
}

.container-fluid {
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    @extend .container-fluid;
    margin: auto;
    width: var(--container_width);
}

.paper_effect {
    padding: 8px 0;
    background-color: #fff;
    margin-bottom: 2px;
}

.cmn_heads {
    .bg_white {
        .main_title {
            padding: 15px 0;
            text-align: center;
        }

        .section_small_title {
            padding: 8px 0;
        }
    }
}

.border_light {
    border: 1px solid #d5d5d5;
}