$browser-prefixes: false !default;

$placeholder-color-default: #333;

@font-face {
    font-family: Satoshi-Light;
    src: url(../../public/fonts/Satoshi-Light.otf);
}

@font-face {
    font-family: Satoshi-Medium;
    src: url(../../public/fonts/Satoshi-Medium.otf);
}

@font-face {
    font-family: Satoshi-Regular;
    src: url(../../public/fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Black;
    src: url(../../public/fonts/Satoshi-Black.otf);
}

@font-face {
    font-family: Satoshi-Bold;
    src: url(../../public/fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: AT-Regular;
    src: url(../../public/fonts/american-typewriter.ttf);
}

$font_heading: Satoshi-Bold;
$font_text: Satoshi-Regular;
$font_medium: Satoshi-Medium;

/*	============================== #Color ==================================== */

$color_primary: #ffeb60;
$heading_color: #333333;
$color_black: #333;
$color_black_dark: #2e2e2e;
$color_white: #f6f4f4;