@import "./modules/mixins.scss";
@import "./modules/variables.scss";
@import "./modules/base.scss";

#contact_page {
    .tab_wrap {
        .tab_wrap_inner {
            padding: 50px 40px 0 40px;

            @media (max-width: 767px) {
                padding: 30px 15px 0 15px;
            }

            .mainbig_title {
                padding-bottom: 30px;
            }

            .tab_buttons {
                justify-content: flex-start;

                .tab_button_item {
                    border-top: none;
                    border: 1px solid #000;
                    padding: 5px 20px;
                    margin: 0 5px;
                    transition: 0.2s all ease-out;
                    cursor: pointer;

                    &:hover {
                        background-color: $color_primary;
                    }

                    &.active {
                        background-color: $color_primary;
                    }
                }
            }

            .tab_content {
                .tab_content_item {
                    .addMap_Wrap {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 30px 0;

                        .contact_address {
                            width: 35%;

                            @media (max-width: 767px) {
                                width: 100%;
                                padding-bottom: 15px;
                            }

                            .branch_inner {
                                border: none;

                                .cb_inner {
                                    padding: 0;
                                }
                            }
                        }

                        .map_location {
                            width: 65%;

                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .below_branch {
            padding: 0 40px 50px 40px;

            @media (max-width: 767px) {
                padding: 0 15px 30px 15px;
            }
        }
    }
}