@import "./modules/mixins.scss";
@import "./modules/variables.scss";
@import "./modules/main.scss";


.fotter {
    footer {
        background-color: #333;
        color: white;
        padding: 50px 0;
        // background-image: url(../../img/home/bodybg.jpg);

        @include lg-down {
            padding: 0px 0px;
        }

        @include sm-down {
            padding: 0px 15px;
        }

        .footer_inner {
            display: flex;
            padding: 15px 15px 15px;
            //        border-top: 1px solid #ddd;

            &:after,
            &:before {
                display: none;
            }

            @include sm-down {
                flex-direction: column;
            }

            .copyright_text {
                font-size: 18px;
            }

            .social_links {
                padding-top: 30px;

                @include sm-down {
                    margin: 10px 0px;
                    padding-top: 20px;
                }

                .social_icons {
                    display: flex;
                    --dim: 40px;

                    @include sm-down {
                        --dim: 30px;
                    }

                    a {
                        width: var(--dim);
                        height: var(--dim);
                        line-height: var(--dim);
                        @extend .f_r_aj_center;
                        margin-right: 10px;

                        img {
                            width: 27px;
                            height: 27px;
                            // filter: brightness(0.8);
                        }
                    }
                }
            }

            .each_fi {
                .footer_logo {
                    // filter: invert(1) contrast(1);
                    filter: invert(1) brightness(2);
                    color: #fff;
                }

                .small_title {
                    display: block;
                    color: #fff;
                    // color: rgba(241, 239, 239, 0.5);
                    text-decoration: none;
                    font-family: $font_medium;
                    padding-bottom: 30px;
                    @extend %text_uc;
                }

                .ting_mail {
                    font-size: 30px;
                    line-height: 0;
                    font-family: $font_medium;
                    color: #fff;
                    // color: rgba(241, 239, 239, 0.5);
                    text-decoration: none;
                    // border-bottom: 1px solid rgba(241, 239, 239, 0.5);
                    border-bottom: 1px solid #fff;
                    padding-bottom: 5px;
                    @extend %text_m;
                }

                &:nth-child(1) {
                    width: 25%;

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                &:nth-child(2) {
                    width: 20%;

                    @media (max-width: 767px) {
                        width: 100%;
                        padding-top: 20px;
                    }
                }

                &:nth-child(3) {
                    width: 20%;

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                &:nth-child(4) {
                    width: 35%;

                    @media (max-width: 767px) {
                        width: 100%;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}