/*	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded SCSS.
	========================================================================== */

@charset "UTF-8";

/*	==========================================================================
        #Import Setting
            *.
                *functions
                *variables
                *mixins
                *reset
                *base
            *partials
                *header
                *footer
        #Demo Code
        ========================================================================== */

@import "./modules/functions.scss";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";
@import "./modules/reset.scss";
@import "./modules/base.scss";
@import "./modules/bootstrap3.scss";

/*	==========================================================================
            #Materialize
        ========================================================================== */

//@import "vendor/materialize_sass/materialize";

/*	==========================================================================
            #Partials
        ========================================================================== */



/*	==========================================================================
            #Demo Code
        ========================================================================== */

/* Placeholder-color first on the browser-prefix */
input {
  @include mv-placeholder-color(red);
}

/*	==========================================================================
            #Demo code for media query
        ========================================================================== */
.media {
  @include mv-media(max, 991px) {
    color: green;
  }

  @include mv-media(min, 992px) {
    color: greenyellow;
  }

  @include mv-media(420px, 450px) {
    color: red;
  }

  color: darkred;
}