@import "./modules/variables.scss";
@import "./modules/base.scss";

.header {
    background-color: #fff36d;
    padding: 15px 92px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;

    @media (max-width: 1200px) {
        display: none;
    }

    .row_flex {
        @extend .f_r_aj_center;
        justify-content: space-between;

        .logo_section {
            img {
                max-height: 40px;
            }
        }

        .link_section {
            display: flex;
            align-items: center;

            a {
                @extend .small_title;
                @extend %text_uc;
                padding: 0 15px;
                color: $heading_color;
                text-decoration: none;
            }
        }
    }

    &.headerFix {
        position: fixed;
    }
}